#modal-window {
    position: absolute;
    width: 99%;
    top: 0;
    z-index: 99999;
    font-family: sans-serif;
}

.modal-window {
    top: 0;
    left: 0;
    will-change: transform;
    margin-top: 2em;
    position: absolute;
    background: rgb(247 251 248 / 99%);
    min-width: 150px;
    height: initial;
    border-radius: 3px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    z-index: 9999;
    border: 1px solid #333748;
}

.modal-handle {
    cursor: move;
    height: 15px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
